body {
  font-family: #6F4E37;
  background-color: #FAF6F0;
  color: #3E2723;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.btn-primario, .btn-secundario {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  border: none;
}

.btn-primario {
  background-color: #462B1F;
  color: #ffff;
  width: 100%;
  box-shadow: 0 4px 6px rgba(111, 78, 55, 0.2);
}

.btn-primario:hover {
  background-color: #3E2723;
  transform: translateY(-2px);
}

.btn-secundario {
  background-color: transparent;
  color: #6F4E37;
  border: 2px solid #6F4E37;
  padding: 8px 16px;
  font-size: 0.9rem;
}

.btn-secundario:hover {
  background-color: #6F4E37;
  color: #0a0909;
}


input[type="text"],
input[type="tel"],
input[type="radio"] {
  accent-color: #6F4E37; 
}


.campo-obligatorio {
  color: var(--color-alerta);
}